body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
  border-radius: 80px;
  margin-bottom: 30px;
}
#root{
  background-color: rgb(5, 37, 16);
  color: aliceblue;
  height: 100vh;
}
#root h1{
  text-align: center;
}
#root form{
  width: 20%;
}
#dataAlert{
  border-radius: 80px;
  text-align: center;
  font-weight: bolder;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}